:root
{
    --white-txt-color: #ffffff;
    --black-txt-color: #000000;
    --dark-txt-color: #212121;
    --blue-txt-color: #2196f3;
    --gray-txt-color: #757575;

    --whitness-bg-color: #F5F4FA;
    --blue-bg-color: #2196f3;
}


body
{
font-family: "roboto", Arial, Helvetica, sans-serif ;
font-size: 14px;
color: #757575;
}



.logo-header
{
    font-family: 'Raleway';
    color: var(--blue-txt-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.logo-header-part-2
{
    color: var(--black-txt-color);   
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--whitness-bg-color);
    color: var(--black-txt-color);
    cursor: pointer;
}

.button:hover,
.button:focus
{
background-color: var(--blue-bg-color);
color: var(--white-txt-color);
}

.btn-order
{
    background-color: var(--blue-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    font-weight: 700;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-txt-color);
}

.anchor {
    color: var(--dark-txt-color);
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.anchor:hover,
.anchor:focus
{
    color: var(--blue-txt-color);
}


.contacts {
    color: var(--gray-txt-color);
    font-weight: 500;
    letter-spacing: 0.02em;
}


.contacts:hover,
.contactsr:focus 
{
    color: var(--blue-txt-color);
}


.no-points {
    list-style: none;
}

.current {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--blue-txt-color);
}

.address-style
{
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-txt-color);
}

.footer-contacts
{
    background-color: #2F303A; /*тимчасово*/
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-txt-color);
    }

.logo-footer
{
font-family: 'Raleway';
color: var(--blue-txt-color);
font-weight: 700;
font-size: 26px;
line-height: 1.19px;
letter-spacing: 0.03em;
text-decoration: none;
}

.logo-footer-part-2 {
    background-color: #2F303A; /*тимчасово*/
    color: var(--white-txt-color);

}